4_5_images.ipynb
4_6_the_game_of_life.ipynb
DSCI_235_Final.ipynb
archive.ics.uci.edu/
assignment1_tips_baby_names*
assignment2_more_baby_names*
assignment3_groupby*
assignment4_numpy*
exercise_01_csv*
exercise_02_Cooper*
exercise_03_dataframe*
exercise_04_hierarchical*
www.cs.colostate.edu/
